body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: #e9ecf2;
}


#navbar ul li{
    list-style-type: none;
    display: inline-block;
    
    
}

.search-btn{
    border-radius: 5px;
    border: 3px solid #7ad7ff;
    color: #7ad7ff;
}

.normal-anchor{
    color: rgb(71, 73, 79);
}

#navbar a{
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}
#navbar ul:nth-child(2){
    padding-right: 2%;
}
#navbar ul:nth-child(1){
    border-left: 1px solid black;
    padding-left: 2%;
}

#navbar a:hover{
    color: orange
}
#navbar{
    background-color: rgba(245, 247, 250, 0.98);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 94%;
    display: flex;
}
#navbar img{
    object-fit: contain;
}
#extend-img{
    justify-self: flex-end;
    display: none;
}
#cat-extend-img{
    display: none;
}
#navbar nav{
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
#category-nav{
    box-shadow: 0 4px 2px -2px rgb(206, 206, 206);
    border-top: 1px solid rgb(206, 206, 206);
    background-color: white;
    margin: 0;
}
#category-nav ul li{
    list-style-type: none;
    display: inline-block;
}

#category-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 10%;
    padding-top: 0.5%;
    margin: 0;
    padding-bottom: 0.5%;
}
#category-nav a{
    
    text-decoration: none;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    color:rgb(91, 102, 120);
}
#search-img{
    object-fit: contain;
    transform: translateY(3px);
    width: 20px;
}
#content{
    display: flex;
}
.left-banner{
    display: flex;
    width: 50%;
    align-items: left;
    flex-direction: column;
    
    padding-left: 5%;
}
.left-banner h1{
    font-size: 100px;
    color: orange;
    font-weight: 700;
    margin-bottom: 2%;
}

.left-banner p{
    font-size: 20px;
    color: rgb(63, 60, 60);
    font-weight: 600;
    margin-bottom: 10%;
}
.left-banner input{
    width: 80%;
    height: 350%;
    border: none;
    border-radius: 10px 0 0 10px;
}
.left-banner input::placeholder{
    padding-left: 4%;
    font-size: 16px;
    color: gray;
}
.left-banner button{
    width: 10%;
    height: 350%;
    border: none;
    background-color: orange;
    border-radius: 0px 10px 10px 0px;
}
.left-banner img{
    aspect-ratio: 1;
    height: 70%;
}
.search-box{
    display: flex;
    height: 3%;
    justify-content: left;
}
.right-banner{
    width: 50%;
}

.right-banner img{
    width: 90%;
}

@media screen and (max-width: 800px){
    #navbar{
        width:100%;
        padding: 0%;
        display: flex;
        /* height: 50px; for closed 450px for open*/
        /* height: 50px;   */
        flex-direction: column;
        overflow: hidden;
        transition: 0.5s;
    }
    #extend-img{
        justify-self: flex-end;
        display: block;
        width: 35px;
        position: absolute;
        left: 84%;
        bottom: 95%;
    }
    #logo-img{
        width: 225px;
        margin-top: 10px;
        padding-left: 10px;
    }
    #navbar ul li{
        display: block;
        margin-top: 15px;
        width: 100%;
        text-align: center;
    }
    #navbar-nav ul li a{
        font-size: 20px;
    }
    #navbar nav{
        align-items: center;
        justify-content: center;
    }
    #navbar ul:nth-child(2){
        padding-left: 0%;
    }
    #category-nav ul{
        display: flex;
        flex-direction: column;
    } 
    #category-nav ul li{
        display: block;
        margin-top: 15px;
        width: 100%;
        text-align: center;
        border-top: 1px solid rgb(219, 219, 219);
    }
    
    #category-nav ul li a{
        font-size: 20px;
    }
    #category-nav{
        display: flex;
        /* height: 50px; for closed 450px for open*/
        /* height: 50px;   */
        flex-direction: column;
        overflow: hidden;
        transition: 0.5s;
    }
    #cat-extend-img{
        display: block;
        align-self: center;
        margin-top: 15px;
        margin-bottom: 10px;

    }
    
    #content{
        display: flex;
        flex-direction: column-reverse;
    }
    .left-banner{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;        
        align-items: center;
        padding-left: 0;
    }
    .right-banner{
        display: flex;
        width: 96%;
        height: 60%;
        padding: 2%;
        justify-content: center;
    }
    .right-banner img{
        align-self: center;
    }
    .left-banner h1{
        font-size: 40px;
        text-align: center;
    }
    
    .left-banner p{
        font-size: 18px;
        text-align: center;
    }
    .left-banner input{
        height: 55px;
        width: 305px;
    }
    .left-banner input::placeholder{
        padding-left: 10px;
        font-size: 10px;
        color: gray;
    }
    .left-banner button{
        width: 30%;
        height: 55px;
    }
    .left-banner img{
        height: 35px
    }
    .search-box{
        justify-content: center;
    }
    
}